* {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template:
    "header header header" 50px
    "left-menu main right-menu" 1fr
    "footer footer footer" 50px /
    200px 1fr 200px;
  gap: 2px;
}

.header {
  grid-area: header;
  background-color: #ffcc0070;
}

.left-menu {
  grid-area: left-menu;
  background-color: #ff000070;
  grid-template-rows: 50px 50px 50px 50px;
  display: grid;
}

.main {
  grid-area: main;
  background-color: #00ff0070;
  display: grid;
  grid-template-rows: repeat (250px);
  grid-template-columns: 200px 200px;
}

.right-menu {
  grid-area: right-menu;
  background-color: #ff00ff70;
  display: grid;
  grid-template-rows: repeat(200px);
}

.footer {
  grid-area: footer;
  background-color: #00aaff70;
}

.left-menu > div {
  border: solid 1px;
  margin: 10px;
  place-items: center;
  display: grid;
}

.main > div {
  border: solid 1px;
  margin: 2px;
  place-items: center;
  display: grid;
}

.right-menu > div {
  display: grid;
  border: solid 1px;
  margin: 2px;
  place-items: center;
}
